@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overscroll-behavior: none;
}

.clip-hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.clip-triangle {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.clip-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}